@*
    @model List<SchoolBaseObject>
*@

<table class="striped">    <!--<table class="table table-dark table-hover">--> <!--Bootstrap-->
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
    @{
        int i = 1;
        foreach (var obj in Model)
        {
            <tr>
                <th>@i</th>
                <td>@obj.Name</td>
                <td>@obj.Id</td>
            </tr>
            i++;
        }
    }
    </tbody>
</table>