@{
    ViewData["Title"] = "Cursos multiples";   //viewbag y viewdata, son 2 vistas de la misma informacion
    Layout = "_Material";   //Layout que usara la vista (MaterializeCSS)
}
@model IEnumerable<Course>    //Si se recibe multiples asignaturas sera una lista o cualquier otro objeto de coleccion, no tiene nombre pero es un modelo

<div class="">
        <h1 class="display-4 center-align">@ViewData["Title"]</h1>
        <br />
        <a class="grey darken-3 waves-effect waves-light btn-small right" asp-area="" asp-controller="Course" asp-action="Create"><i class="material-icons right">send</i>Crear curso</a>
        <partial name="_BaseSchoolObjectList"></partial>
</div>
