@{
    ViewData["Title"] = "School";
}

<div>
    <h1 class="display-4 text-center">Welcome to the jungle!</h1>
    <h2>Escuela</h2>
    <h3>Nombre:</h3>
    <h4>Año de fundacion</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
